<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JSP_MVC_M2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test_Controller</display-name>
    <servlet-name>Test_Controller</servlet-name>
    <servlet-class>controller.Test_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_Controller</servlet-name>
    <url-pattern>/Test_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Board_Controller</display-name>
    <servlet-name>Board_Controller</servlet-name>
    <servlet-class>controller.Board_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_Controller</servlet-name>
    <url-pattern>/Board_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_controller</display-name>
    <servlet-name>User_controller</servlet-name>
    <servlet-class>controller.User_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_controller</servlet-name>
    <url-pattern>/User_controller</url-pattern>
  </servlet-mapping>
</web-app>